body {
  font-family: monospace;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: #001426;
}

a:hover {
  font-weight: bolder;
}

a:focus {
  background-color: #c4c0c0;
}

.title {
  font-size: 40px;
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  text-align: left;
}

.footer {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
